body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1e3c72, #2a5298);
    color: #ffffff;
}

.container {
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-block {
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}
